#app {
  // 主体区域
  .main-container {
    transition: margin-left .28s;
    position: relative;
    height: 100%;
  }
  // 侧边栏
  .sidebar-container {
    transition: width 0.28s;
    background-color: $menuBg;
    height: 56px;
    width: 100%;
    position: relative;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    .el-submenu__icon-arrow {
      display: none;
    }

    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }
    
    .scrollbar-wrapper {
      overflow-x: hidden !important;
      margin-bottom: 0px !important;
      .el-scrollbar__view {
        height: 100%;
      }
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
      width: 0px;
    }

    .el-scrollbar {
      height: 100%;
      width: 86%;
      display: inline-block;
    }

    &.has-logo {
      .el-scrollbar {
        width: 86%;
        display: inline-block;
      }
      height: 6%;
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: flex;
      width: 100%;
      overflow: hidden;
      height: 100%;
      text-align: center;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      .menu-wrapper {
        float: left;
        height: 100%;
        .el-submenu {
          height: 100%;
        }
      }
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      height: 100%;
      &:hover {
        background-color: $menuHover !important;
      }
    }

    .submenu-title-noDropdown, .el-submenu__title {
      display: flex;
      text-align: center;
      svg, span {
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    .is-active>.el-submenu__title {
      color: $subMenuActiveText !important;
    }

    & .nest-menu .el-submenu>.el-submenu__title,
    & .el-submenu .el-menu-item {
      background-color: $subMenuBg !important;

      &:hover {
        background-color: $subMenuHover !important;
      }
    }
  }
}
